<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Game</title>
  </head>
  <body>
    <div id="container">
    </div>
    <script>window.userId=<%=userId%></script>
    <script src="<%=entry%>"></script>
  </body>
</html>
