<html>
  <form method="POST" action="/sessions">
    <select name="gameId">
      <% games.forEach(game => { %>
        <option value="<%=game.maxId%>"><%=game.name%></option>
      <% }) %>
    </select>
    <input type="submit">Create session!</input>
  </form>
</html>
