<h1>Session</h1>

<ul>
  <% session.SessionUsers.forEach(sessionUser => { %>
    <li><%= sessionUser.User.name %></li>
  <% }) %>
</ul>

<% if (session.SessionUsers.find(su => su.userId == me)) { %>
  <!-- TODO proper URL -->
  <a href="/games/local/?session=<%= session.id %>">Enter</a>
<% } else { %>
  <form action="/user-sessions/<%= session.id %>" method="POST">
    <input type="submit" value="Join"/>
  </form>
<% } %>
